.module {
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}
.module > ul {
    display: flex;
    margin: 0 0 1em 0;
}
.module > ul > li {
    font-size: 0.9em;
    font-weight: 500;
    padding: 0.8em 0;
}
.module > ul > li {
    pointer-events: none;
}


.module .backButton {
    border: none;
    padding: 0.5em;
    border-radius: 0.15em;
    width: 150px;
    background-color: rgb(255, 206, 0);
    text-align: center;
}