
.module {
    height: 100vh;
    min-width: 200px;

    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
}

.module > * > * {
    padding: 0 1em
}

.module > p {
    font-weight: 500;
}


.module > ul > li > a {
    display: block;
    padding: 1.5em 0;
}

.module > .ul > li:hover {
    background-color: #e3e3e3;

}

.module > .ul > .noHover {
    pointer-events: none;
    font-weight: 500;
    padding: 1em;
}

.upload {
    border: none;
    padding: 1em 1em;
    margin: 1em auto;
    border-radius: 0.15em;
    width: 150px;
    background-color: rgb(255, 206, 0);
    text-align: center;
}

.upload:hover {
    filter: brightness(90%);
}
