
.listItem {
    /* display: flex; */
    border-bottom: 1px solid #e3e3e3;
}

.listItem:hover {
    background-color: #e3e3e3;
}

.listItem_NoHover {
    /* display: flex; */
    /* border-bottom: 1px solid #e3e3e3; */
    border-bottom: 1px solid red;

}
.listItem_NoHover:hover {
    background-color: white;
}

.listItem > a {
    display: block;
    width: 100%;
    padding: 1em;
    cursor: pointer;
    user-select: none;
}

.pendingUserUL_Show {
    display: block;
    width: 100%;
    padding: 1em 0;
    /* cursor: pointer; */

}

.pendingUserUL_Hidden {
    display: none;
}

.pendingUserLI {
    padding: 0.5em;
    border-bottom: 1px solid #e3e3e3;
    pointer-events: none;
}

.strikeThrough {
    text-decoration: line-through;
}


.listItem-header {
    padding: 1em;
    display: flex;
    border-bottom: 1px solid #888686;

}

.listItem-header > p {
    flex: 1;
}

.listItem {
    display: flex;
    border-bottom: 1px solid #e3e3e3;
}

.listItem_hidden {
    display: none;
}

.listItem:hover {
    background-color: #e3e3e3;

}

.listItem > a {
    display: flex;
    width: 100%;
    padding: 1em;
    cursor: pointer;

}

.listItem > a > * {
    flex: 1;
}

.listItem > a > p:first-child {
    margin-right: 0.5em;
}

/* .listItem-top {
    flex: 1;
} */

.listItem-top > p {
    display: inline-block;
    margin-right: 0.5em;
}

