

.listItem {
    display: flex;
    border-bottom: 1px solid #e3e3e3;
    padding: 1em;
}

.listItem > * {
    margin: 1em;
}


.resetButton {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: none;
    color: black;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    /* transition: background 250ms ease-in-out, transform 150ms ease; */
    -webkit-appearance: none;
    -moz-appearance: none;
}

.resetButton:hover,
.resetButton:focus,
.actionButton:hover,
.actionButton:focus{
    color: rgb(255, 206, 0);
}

.resetButton:focus,
.actionButton {
    outline: 0px solid #fff;
    outline-offset: -4px;
}

.resetButton:active {
    transform: scale(0.99);
}

/* .actionButton {
    background-color: rgb(255, 206, 0);

} */

