/* 
.upload {
    border: none;
    padding: 1em 1em;
    margin: 1em auto;
    border-radius: 0.15em;
    width: 150px;
    background-color: rgb(255, 206, 0);
    text-align: center;
}

.upload:hover {
    filter: brightness(90%);
} */

.module {
    margin: 1em;
}
.uploadInput {
    display: none;
  }

.uploadLabel {
    display: block;
    border: none;
    padding: 1em 4em;
    border-radius: 0.15em;
    width: 150px;
    background-color: #ffce00;
    text-align: center;
  }

  .uploadLabel:hover {
    -webkit-filter: brightness(90%);
            filter: brightness(90%);
  }